<% if (history && history.length) { %>
  <div class="items">
    <% history.map((item) => { %>
      <div class="item">
        <a href="<%= item.href %>" target="_blank">
          <img src="<%= item.src %>" alt="viewed product">
        </a>
        <div class="price">
          <span class="chip"><%= item.price %> Ft</span>
        </div>
        <button class="remove-history-item id-<%= item.id %>">
          <%= p.history.remove[lang] %>
        </button>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <div class="items"><%= p.history.empty[lang] %></div>
<% } %>
