<% results.map((result) => { %>
        <fieldset class="result">
        <legend><%= result.websiteName %></legend>
        <div class="items">
        <% result.FoundImages.map((item) => { %>
                <div class="item">
                <a href="<%= item.href %>" target="_blank" rel="noopener">
                <img src="<%= item.src || 'https://via.placeholder.com/300x300?text=Image' %>" alt="">
                </a>
                <div class="meta">
                <div class="title"><%= item.title || 'Product' %></div>
                <div class="price">
                <span class="chip"><%= item.price %> Ft</span>
                </div>
                </div>
                </div>
                <% }) %>
        </div>
        </fieldset>
<% }) %>
